<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" type="image/jpg" href="images/faviconImageClear.png">
<head>
    <%- include('../partials/head'); %>
</head>
<body >

<main>

    <div class="container">
        <h1>Uh oh, look like something went wrong!</h1>
        <h3>Error Code:<%- errorCode %></h3>
    </div>
    
</main>

<footer >
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>